# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff:
*.sqlite3
db.sqlite3

# Env files
.env
*.env

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
ad